<div class="main-content" style="margin: 20px;">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <br>
        <form #formRef="ngForm">
          <div *ngFor="let word2 of questions; let in=index" class="col-md-8">
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <mat-label>Add a question</mat-label>
                <input type="text" matInput [(ngModel)]="questions[in].value" name="name{{in}}" class="form-control"
                  #name="ngModel" required />

                <mat-error [hidden]="questions[in].value">Field is required </mat-error>
              </mat-form-field>
            </mat-card-content>
            <br />
          </div>
          <button [disabled]="!formRef.form.valid" (click)="add()">Add input</button>
        </form>
      </div>
    </div>
  </div>
</div>